body {
    font-family: Arial;
    background: #f4f4f4;
    padding: 20px;
  }
  
  .add-habit {
    margin-bottom: 20px;
  }
  
  li {
    background: white;
    margin: 10px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  